<div *ngIf="formulario">
    <h1>{{libro?'Editar' :'Crear'}} Libro</h1>

    <div class="mt-5 alert alert-danger" *ngIf="errors">
        {{errors|json}}
        {{formulario.value|json}}<!--Mostrar datos de forma reactiva-->
    </div>
    <form class="mt-5" [formGroup]="formulario" (ngSubmit)="save()" autocomplete="off">
        <mat-form-field class="mb-2 d-block" appearance="outline">
            <mat-label for="title">Título</mat-label>
            <input matInput type="text" placeholder="Título"  formControlName="titulo"  (keyup)="buildSlug()">
            <mat-error>
                <ng-container *ngIf="controlHasError('titulo','required')">
                    Este Campo es obligatorio.
                </ng-container>
                <ng-container *ngIf="controlHasError('titulo','minlength')">
                    Debe tener al menos 3 caracteres.</ng-container>
                <ng-container *ngIf="controlHasError('titulo','maxlength')">
                    Debe tener 100 caratecteres como máximo.</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2 d-block" appearance="outline">
            <mat-label for="slug">Slug</mat-label>
            <input matInput type="text" placeholder="Slug"  formControlName="slug">
            <mat-error>
                <ng-container *ngIf="controlHasError('slug','required')">
                    Este Campo es obligatorio.
                </ng-container>
                <ng-container *ngIf="controlHasError('slug','pattern')">
                    El formato es invalido.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2 d-block" appearance="outline">
            <mat-label for="descripcion">Descripción</mat-label>
            <textarea matInput  placeholder="Descripción" 
                formControlName="descripcion"></textarea>
            <mat-error>
                <ng-container *ngIf="controlHasError('descripcion','required')">
                    Este Campo es obligatorio.
                </ng-container>
            </mat-error>
        </mat-form-field >
        <mat-form-field class="mb-2 d-block"  appearance="outline">
            <mat-label for="precio">Precio</mat-label>
            <input matInput type="number" step="0.01" placeholder="Precio"
                formControlName="precio">
            <mat-error>
                <ng-container *ngIf="controlHasError('precio','required')">
                    Este Campo es obligatorio.
                </ng-container>
                <ng-container *ngIf="controlHasError('precio','min')">
                    El Valor debe ser cero(0) como minimo
                </ng-container>
            </mat-error>
        </mat-form-field>
        <div class="text-end">
            <button mat-button routerLink="/admin/libros">
                Cancelar
            </button>
            <button mat-raised-button color="primary">
                {{libro?'Actualizar':'Crear'}} libro
            </button>
        </div>
    </form>
</div>